.Hanzi {
  align-items: stretch;
  color: var(--chineseBlack);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
  background-color: beige;
}

.Hanzi-keyword {
  flex: 1 1;
  font-size: 2em;
  margin-bottom: 0;
  color: var(--chineseRed);
}

.Hanzi-keyword.is-clickable {
  cursor: pointer;
}

.Hanzi-keyword > small {
  font-size: 0.5em;
  margin-left: 1em;
}

.Hanzi-traditionalCharacter,
.Hanzi-hidden {
  flex: 3 1;
  font-size: 35vh;
  margin: 5vh 0 10vh;
}

.Hanzi-hidden {
  background-color: beige;
  cursor: help;
}
