/** @define Footer; */

:root {
  --Footer-borderGap: 0.05em solid white;
  --Footer-black: #050102;
  --Footer-red: #de2825;
}

.Footer {
  display: flex;
  font-size: 1em;
  text-align: center;
}

.Footer-link {
  background: var(--Footer-black);
  color: white;
  flex: 1 1;
  line-height: 4;
  text-decoration: none;
  transition: background 0.125s;
  user-select: none;
}

.Footer-link--prev {
  border-right: var(--Footer-borderGap);
}

.Footer-link--next {
  border-left: var(--Footer-borderGap);
}

.Footer-link:hover {
  background: var(--Footer-red);
}

.Footer-link.is-disabled {
  background: var(--disabledButtonColor);
}

.Footer-link.is-disabled:hover {
  background: var(--disabledButtonColor);
}
